$primary-color: #0abab5;
$primary-bg-color: #fff;
$secondary-bg-color: #eee;
$primary-font-color: #555;
$err-msg-color: red;
$primary-font-size: 18px;
$secodary-font-size: 16px;
$third-font-size: 14px;

html,
body {
  height: 100%;
  width: 100%;
  background: $secondary-bg-color;
}

header {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: $secondary-bg-color;
  background: $primary-color;

  & .warning {
    margin: 0;
  }
}

h3 {
  color: $primary-font-color;
}

.update__nickname__btn {
  color: $primary-font-color;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.2s;

  & + span {
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover,
  &:hover + span {
    opacity: 0.8;
  }
}

main {
  margin: 20px auto;
  width: 600px;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
  background: $primary-bg-color;
  border-radius: 10px;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.1);

  & form {
    & span {
      margin: 10px 0;
      width: 100px;
      font-weight: 600;
      color: $primary-font-color;
      display: inline-block;
    }
  }

  & .welcome {
    display: inline-block;
    margin: 20px 0 0;
    color: $primary-font-color;
  }

  & .update__nickname {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    font-weight: 600;
    color: $primary-font-color;

    & * {
      vertical-align: bottom;
      display: inline-block;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    & .board__btn {
      padding: 10px;
    }
  }

  & .board__title {
    margin: 20px 0;
    color: $primary-font-color;
  }

  & .comment_input_area {
    display: block;
    width: 100%;
    resize: vertical;
  }

  & .notice {
    color: $primary-font-color;
  }
}

.update__comment__btn,
.delete__comment__btn,
.update__authority__btn,
.authority__save {
  color: $primary-font-color;
  opacity: 0.3;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.8;
  }
}

.board__btn {
  display: inline-block;
  margin: 20px 10px 0 0;
  border: 1px solid $primary-color;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  background: $primary-bg-color;
  color: $primary-color;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    background: $primary-color;
    color: $secondary-bg-color;
  }
}

hr {
  margin: 25px 0;
  height: 1px;
  width: 100%;
  background-color: $primary-font-color;
}

.comment {
  position: relative;
  display: flex;
  margin: 10px 0;

  & .comment_avatar {
    width: 50px;
    min-width: 50px;
    height: 50px;
    background: $primary-color;
    opacity: 0.5;
    border-radius: 50%;
  }

  & .comment_content {
    margin-left: 10px;
    color: $primary-font-color;
  }

  & .nickname {
    font-size: $primary-font-size;
    font-weight: 700;
    color: $primary-color;
  }

  & .created_time {
    color: #999;
    font-size: $third-font-size;
  }

  & .content {
    margin-top: 10px;
    line-height: 24px;
    font-size: $secodary-font-size;
    white-space: pre-line;
    word-break: break-all;
  }

  & .comment__control__btn {
    position: absolute;
    right: 0;
  }

  & .update__comment,
  .delete__comment {
    position: relative;
    display: inline-block;
    margin-left: 5px;
  }

  & .update__comment__btn + span,
  .delete__comment__btn + span {
    position: absolute;
    display: inline-block;
    top: -25px;
  }
}

.pages__area {
  text-align: center;
}

.small__btn {
  padding: 0 10px;
  margin: 0;
  font-size: $third-font-size;
  height: 25px;
  line-height: 24px;
}

.current__page {
  display: inline-block;
  margin: 0 10px;
  color: $primary-font-color;
  letter-spacing: 2px;
}

.errMsg {
  display: block;
  margin-top: 10px;
  color: $err-msg-color;
  font-weight: 700;
}

.hidden {
  display: none;
}

.clickable:active {
  transform: scale(0.96);
}

a.clickable {
  & i {
    color: $primary-color;
    opacity: 1;
  }
  &:hover i {
    color: $primary-bg-color;
  }
}

.user__table {
  table-layout: auto;
  width: 100%;
  line-height: 24px;
  & .user__info__title {
    color: $primary-color;
    font-weight: bold;
  }
  &
  .user__info {
    color: $primary-font-color;
  }  
}

