<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lottery Page</title>
  <%- include('template/header')%>
  
</head>

<body>
  <nav class="navbar">
    <div class="wrapper">
      <div class="navbar__site-name">Just A Bite!</div>
      <ul class="navbar__list">
        <li class="active"><a href="#">抽個<br class="break">大獎</a></li>
        <li><a href="#">我要點餐</a></li>
        <li><a href="#">查詢訂單</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </div>
  </nav>

  <section class="lottery">
    <div class="bg__filter">
      <div class="lottery__body">
        <div class="container">
          <div class="mb-2">
            <form action="/add" method="POST">
              <div class="m-2">獎品序號：<input type="text" name="number"></input></div>
              <div class="m-2">獎品內容：<input type="text" name="content"></input></div>
              <div class="m-2">中獎機率：<input type="text" name="probability"></input></div>
              <div class="m-2">圖片網址：<input type="text" name="imageUrl"></div>
              <button type="submit" class="btn btn-dark btn-sm mt-3 price_editButton">新增</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="wrapper">
      <div class="info">
        <p>餐館地址: 天上地下天堂路三分之一里六段520號</p>
        <p>訂位專線：02-1314-5566</p>
        <p>營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息</p>
        <p>email：service@justabite.com.tw</p>
      </div>
      <div class="logo">
        <h1 class="logo__text">Just A Bite!</h1>
        <h3 class="media">Facebook / Instagram / Youtube</h3>
      </div>
    </div>
    <div class="copyright">
      <h2 class="copyright__info">Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有</h2>
    </div>
  </footer>
</body>

</html>