<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="price">
    <!-- <div>獎品序號：<span class="price__id"></span></div>
    <div>獎品內容：<span class="price__content"></span></div>
    <div>圖片網址：<a class="price__imageUrl" href="https://i.imgur.com/IFkFLEB.jpg">https://i.imgur.com/IFkFLEB.jpg</a></div>
    <button type="button" class="btn btn-dark btn-sm mt-3 price_editButton">編輯</button> -->
  </div>
</body>
</html>